// Define variables for your color scheme

// For example:
$red: #DD4F3C;
$blue: #223843;

$red75: rgba(221,79,60,0.75);
$blue75: rgba(34,56,67,0.75);

$red50: rgba(221,79,60,0.5);
$blue50: rgba(34,56,67,0.5);

$red25: rgba(221,79,60,0.25);
$blue25: rgba(34,56,67,0.25);

$red10: rgba(221,79,60,0.1);
$blue10: rgba(34,56,67,0.1);
