// Specific CSS for your home-page


// INFO BAR
.info-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 760px;
  margin: 20px auto;
}

.info-bar p {
  margin: 0px;
  padding-right: 40px;
}

// HELLO SECTION
.hello-section {
  vertical-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 80px 0;
}
.hello-section h1 {
  font-size: 48px;
}

.hello-section h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

// TABS GAMES
.tabs-games {
  background-color: $color-red25;
  max-width: 790px;
  margin: auto;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabs-underlined .tab-underlined {
  color: $color-blue;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $color-blue;
}

.tabs-games-find p {
  padding: 40px 0;
  text-align: center;
}


//GENERAL
body {
  background-color: white;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  color: $color-blue;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  color: $color-blue;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: $color-blue;
  letter-spacing: 0.05em;
  text-decoration: underline;
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
  line-height: 23px;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $color-blue;
}

h5 {
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $color-blue50;
}

p {
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $color-blue;
}

a {
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  color: $color-blue;
    &:hover {
      color: $color-red;
    }
}
