#header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 760px;
  margin: auto;
  margin-bottom: 60px;
  max-width: 630px;
  margin-top: 60px;
}

#header-link a {
  margin-top: 0px;
}

#header-link h2 {
  margin: 0px;
}

.games-list {
  margin-bottom: 80px;
}

.search-filter-section {
  margin-bottom: 60px;
}

