#header-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 760px;
  margin: 20px auto;
}

#header-link a {
  margin-top: inherit;
}

.games-list {
  margin-bottom: 80px;
}
