.log-in {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

.log-in img {
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.log-in h2 {
  margin: 0px;
}

label {
  display: inline-block;
  font-size: 18px;
  color: $color-blue75;
  font-weight: 400;
}

.form-control {
  border: 1.5px solid $color-blue;
  border-radius: 0px;
  padding: 25px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}

.form-control:focus {
  border-color: $color-blue;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bottom-links {
  margin-top: 20px;
}
