<div class="container">
  <div class="row">
      <% @users.each do |user| %>

        <div id="players-search">
          <div class="card-list">
            <div class="card-avatar">
              <div class="avatar-batch">
                <img class="avatar-large" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />
                <div class="skill-level-badge-position skill-level-badge">
                  <p>5-6</p>
                  <h5>itn</h5>
                </div>
                <div class="card-specifications">
                  <h3>Single</h3>
                  <h4>19.5.2018 at 17h00</h4>
                  <h5><%= user.first_name %> <%= user.last_name %></h5>
                </div>
              </div>
            </div>
            <div class="card-spots">
              <h4>1 / 2</h4>
            </div>
            <div>
              <a href="#" class="btn-prim-s">join</a>
            </div>
          </div>
        </div>

        <div id="search-results">

        </div>

      <% end %>

 </div>
</div>
