  <!-- Search bar for testing purposes -->
<div class="container">
  <div class="row">
    <h1 class="text-center">Find a game that suits you.</h1>
    <div class="search-container col-md-12">

      <div class="searchbar">

        <div class="input-group form">
          <%= form_tag(users_path, method: 'get', remote: true) do %>
          <span class="top_search_icon"><i class="fa fa-search"></i></span>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "search for e.g. name"%>
          <% end %>
        </div>
    </div>

     <div class="search-filters">
       <div class="btn-group">
         <div class="dropdown">
          <button class="btn-prim dropdown-toggle" type="button" data-toggle="dropdown">today
          <span class="caret"></span></button>
          <!-- <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
          </ul> -->
        </div>
       </div>

       <div class="btn-group">
        <div class="dropdown">
          <button class="btn-prim dropdown-toggle" type="button" data-toggle="dropdown">skill-level
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
      </div>

      <div class="btn-group">
        <div class="dropdown">
          <button class="btn-prim dropdown-toggle" type="button" data-toggle="dropdown">game-type
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Singles</a></li>
            <li><a href="#">Doubles</a></li>
          </ul>
        </div>
      </div>
     </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div id="search-results"></div>
 </div>
</div>
