<div class="footer">


  <%= image_tag "court_outline.png", height: 70 %>

  <h1>Make your<br>tennis club<br>social again.</h1>
  <div class="footer-copyright">
    © by the clubhouse
  </div>










  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
