<div class="footer">

  <div class="footer-item">
    <%= image_tag "court_outline.png", height: 70 %>
    <h1>Make your<br>tennis club<br>social again.</h1>
    <div class="footer-copyright">
    © by the clubhouse
    </div>
  </div>

  <div class="footer-item">
    <div class="list-footer">
      <ul>
        <li><p>JOIN GAME</p></li>
        <li><p>GAMES</p></li>
        <li><p>EVENTS</p></li>
        <li><p></p></li>
        <li><p>YOUR PROFILE</p></li>
        <li><p>SETTINGS</p></li>
      </ul>
    </div>
  </div>

  <div class="footer-item">
    <div class="footer-address">
      <p><strong>All England Lawn Tennis</strong> <br>Church Rd, Wimbledon, London SW19 5AE <br>+43 2314 23412 <br>allengland@tennis.co.uk</p>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
    </div>
  </div>

</div>
