<div class="tabs-games">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">YOUR SCHEDULE</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">JOIN A GAME</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">WATCH GAMES</a>
    </li>
  </ul>

  <div class = "tabs-games-find">
    <% if @user.games == nil %>
      <p>You have no games scheduled.<br>Join a game<br>or<br>open a game request and <%= link_to "find a partner", new_game_path %>.</p>
    <% else %>
      <%= @user.games %>
    <% end %>
  </div>
</div>


<div class="tabs-games">
<!-- Tab links -->
<div class="tabs-underlined">
  <button class="tablinks" onclick="openGame(event, 'schedule')"><h4>YOUR SCHEDULE</h4></button>
  <button class="tablinks" onclick="openGame(event, 'join')"><h4>JOIN A GAME
  </h4></button>
  <button class="tablinks" onclick="openGame(event, 'watch')"><h4>WATCH GAMES</h4></button>
</div>

<!-- Tab content -->
<div id="schedule" class="tabcontent">
  <p>London is the capital city of England.</p>
</div>

<div id="join" class="tabcontent">
  <p>Paris is the capital of France.</p>
</div>

<div id="watch" class="tabcontent">
  <p>Tokyo is the capital of Japan.</p>
</div>
</div>
<br>

