<div class="tabs-games">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">YOUR SCHEDULE</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">JOIN A GAME</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">WATCH GAMES</a>
    </li>
  </ul>

  <div class = "tabs-games-find">
    <% if @user.games == nil %>
      <p>You have no games scheduled.<br>Join a game<br>or<br>open a game request and <%= link_to "find a partner", new_game_path %>.</p>
    <% else %>
      <%= @user.games %>
    <% end %>
  </div>
</div>


<!-- Tab links -->
<div class="tabs-games">
  <button class="tab-underlined" onclick="openCity(event, 'London')">London</button>
  <button class="tab-underlined" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tab-underlined" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

