<h1>This is an h1</h1>
<h2>This is an h2</h2>
<h3>This is an h3</h3>
<h4>This is an h4</h4>
<h5>This is an h5</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ut veniam explicabo ipsa optio, vitae dolorum nisi vel libero laboriosam nulla facilis dolor provident, non ipsam error ullam porro asperiores!</p>
<a>a link</a>

<a href="#" class="btn-prim">btn-prim</a>
<a href="#" class="btn-sec">btn-sec</a>

<a href="#" class="btn-prim-s">btn-prim-s</a>
<a href="#" class="btn-sec-s">btn-sec-s</a>

<img class="avatar" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />

<img class="avatar-large" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />
