<div class="background-image">
  <div class="relative">
    <div class="flex-land">
      <div class="logo">
        <%= image_tag "logo_white_transp.png", height: 98 %>
      </div>
      <div>
        <h1 class="text-white">Play more tennis.</h1>
      </div>
      <div>
        <p class="text-white">Get your club social again <br> & connect your members to easily find partners</p>
      </div>
      <div class="buttons-landing">
      <%= link_to "Sign up", new_user_registration_path, {class: "btn-prim-land"} %>

      <%= link_to "Log in", new_user_session_path, {class: "btn-prim-land"} %>
      </div>
    </div>
  </div>
</div>









