// Buttons

.btn-prim {
  color: white;
  background-color: $color-blue;
  border: 1.5px solid $color-blue;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px 40px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $color-blue;
    background-color: transparent;
    text-decoration: none;
  }
 }

.btn-sec {
  border: 1.5px solid $color-blue;
  font-weight: 500;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-blue;
  padding: 10px 40px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: white;
    background-color: $color-blue;
    text-decoration: none;
  }
 }
