// Cards


// Badge for skill level
.skill-level-badge {
  background-color: $color-red75;
  flex-direction: column;
  justify-content: space-around;
  height: 42px;
  width: 42px;
}

.skill-level-badge p {
  color: $dirty-white;
  text-align: center;
  margin: 0px;
}
.skill-level-badge h5 {
  color: $dirty-white;
  text-align: center;
  margin: 0px;
  font-weight: 400;
  line-height: 5px;
}

.card-court {
  background-image: url("court_outline.svg");
  background-repeat: no-repeat;
}
.avatar-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-name-item {

}

.avatar-name-item p {
  font-weight: 500;
  line-height: 10px;
  font-size: 16px;
  letter-spacing: 0.05em;
  padding-left: 20px;
}
