// Cards

// CARD FOR LISTS
.card-list {
  display: flex;
  border-bottom: 1px solid $color-blue50;
  padding: 20px;
  max-width: 630px;
  justify-content: space-between;
  align-items: center;
}

// Avatar with skill level batch
.avatar-batch {
  position: relative;
  height: 65px;
}

// Badge for skill level on
.skill-level-badge-position {
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.card-specifications {
  position: absolute;
  top: 0%;
  left: 85px;
  width: 250px;
}

.card-specifications h3 {
  font-weight: 500;
  line-height: 23px;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $color-blue;
  text-decoration: none;
  margin: 0px;
}

.card-specifications h4 {
  font-weight: 500;
  line-height: 23px;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $color-blue50;
  margin: 0px;
}

.card-specifications h5 {
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $color-blue50;
  margin: 0px;
}

.card-spots {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-button {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

// CARD COURT
.card-court {
  position: relative;
  background-color: $color-blue25;
  background-image: url("court_outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 630px;
  height: 275px;
}

.court-date {
  position: absolute;
  left: 50%;
  top: 20px;
}

.court-date p {
  font-weight: 600;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 0px;
}

.court-player-left {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 20px;
}

.court-player-left p {
  line-height: 23px;
  margin: 0px;
  padding-left: 20px;
}

.skill-level-badge {
  position: absolute;
  left: 50%;
  bottom: 20px;
}

.court-player-right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
}

.court-player-right p {
  line-height: 23px;
  margin: 0px;
  padding-left: 20px;
}
