// FOOTER

.footer {
  color: white;
  background: $color-blue;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin-top: 60px;
}

.footer img {
  padding-left: 40px;
}

.footer h1 {
  color: white;
  font-weight: 500;
  line-height: 56px;
  font-size: 32px;
  letter-spacing: 0.05em;
  padding: 60px 0;
  margin: 0px;
}

.footer-copyright {
  font-weight: 400;
  line-height: 21px;
  font-size: 12px;
  letter-spacing: 0.05em;
  padding-left: 40px;
  margin-bottom: 40px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $color-red;
  opacity: 1;
}

.list-footer {
  list-style-type: none;
  padding-top: 140px;
}

.list-footer ul {
  list-style-type: none;
}

.list-footer a{
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 0.05em;
  padding: 0px 10px;
    &:hover {
      color: $color-red;
      opacity: 1;
    }
}

.footer-address p{
  color: white;
  padding-top: 140px;
}
