.search-container.col-md-12 {
  margin: 15px 0;
}

 .top_search_icon {
  color: rgba(34, 56, 67, 0.5);
  font-size: 18px;
  left: 15px;
  position: absolute;
  top: 5px;
  z-index: 4;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  max-width: 680px;
  margin: auto;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  padding: 1px 20px 0 40px;
}

.search-filters {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  max-width: 630px;
  align-items: center;
  margin: auto;
  margin-top: -15px;
}

.form {
  display: block;
  width: 100%;
  height: 39px;
}

.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0 12px;
  border-left: rgba(34, 56, 67, 0.5);
  border-left-style: solid;
  border-width: 2px;
}

textarea:focus,
input[type="text"]:focus,
input[type="search"]:focus {
  border-color: rgba(34, 56, 67, 0.5);
  box-shadow: none;
  outline: 0 none;
}

.input-group .form-control {
  padding-left: 50px;
}

.open > .dropdown-menu {
  display: block;
  width: 100%;
}


.btn-prim a {
    text-decoration: none;
    color: white;
}

.btn-prim.today-btn  {
  margin-top: 40px;
}

.btn-prim.today-btn {
  padding: 10px 40px;
}
