.skill-level-badge {
  background-color: $color-red75;
  height: 42px;
  width: 42px;
}

.skill-level-badge p {
  color: $dirty-white;
  text-align: center;
  margin: 0px;
}
.skill-level-badge h5 {
  color: $dirty-white;
  text-align: center;
  margin: 0px;
  font-weight: 400;
  line-height: 5px;
}
