<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>
  <%= simple_form_for @game, url: wizard_path, method: :put do |f| %>
  <%= f.input :skill_level, collection: ["1", "2", "3", "4", "5", "6", "7", "8", "9"], label: false %>
  <%= f.submit 'continue' %>
<% end %>

<%= link_to "Back", games_path %>
